@model NT.UM.Application.Contracts.ViewModels.UsersViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">مشاهده کاربر</h4>
</div>

<form asp-page="./Index" asp-page-handler="View"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <input type="hidden" asp-for="ID" value="@Model.ID">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IMG" class="control-label">تصویر</label>
                    <img src="~/@Model.IMGFileAddress" style="width:70px;height:70px" />
                    <span asp-validation-for="IMG" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="IDCardIMG" class="control-label">تصویر پاسپورت</label>
                    <img src="~/@Model.IDCardIMGFileAddress" style="width:70px;height:70px" />
                    <span asp-validation-for="IDCardIMG" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Sex" class="control-label">جنسیت</label>
                    <div class="form-check">
                        <input asp-for="Sex" class="form-check-input" type="radio" value="true" checked disabled>
                        <label class="form-check-label" asp-for="Sex">
                            آقای
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="Sex" class="form-check-input" type="radio" value="false" disabled>
                        <label class="form-check-label" asp-for="Sex">
                            خانم
                        </label>
                    </div>
                    <span asp-validation-for="Sex" class="error"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">نام</label>
                    <input type="text" class="form-control" asp-for="FirstName" disabled>
                    <span asp-validation-for="FirstName" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">نام خانوادگی</label>
                    <input type="text" class="form-control" asp-for="LastName" disabled>
                    <span asp-validation-for="LastName" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">ایمیل(شناسه کاربری)</label>
                    <input type="email" class="form-control" asp-for="Email" disabled>
                    <span asp-validation-for="Email" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Password" class="control-label">رمز عبور</label>
                    <input type="text" class="form-control" asp-for="Password" disabled>
                    <span asp-validation-for="Password" class="error"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Tel" class="control-label">موبایل</label>
                    <input type="tel" class="form-control" asp-for="Tel" disabled>
                    <span asp-validation-for="Tel" class="error"></span>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
    </div>
</form>
