@page
@model NT.Presentation.MVCCore.Pages.AccessDeniedModel
@{
    Layout = "Shared/_LoginLayout";
    ViewData["title"] = "Error 404 - Access Denied!";
}
<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>404!</h1>
        <h2>Sorry, page not found</h2><br>
        <a class="btn btn-purple waves-effect waves-light" asp-page="Login"><i class="fa fa-angle-left"></i> Back to Dashboard</a>
    </div>
</div>