<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(images/slider/bg1.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2><span></span>We're changing mindsets...</h2>
                                <p>EVERYTHING YOU NEED TO BUILD A GROWTH MINDSET WITHIN YOURSELF, TEAM, OR ORGANIZATION</p>
                                <!--<a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <div class="item" style="background-image: url(images/slider/bg2.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2><span>Training;</span></h2>
                                <h3><span>The Optimum Path to Success...</span></h3>
                                <!--<p>The Optimum Path to Success...</p>-->
                                <!--<a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <!--/.item-->
        <div class="item" style="background-image: url(images/slider/bg3.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>If you think <span>training</span> is expensive</h2>
                                <h2><span></span>try an accident...</h2>
                                <!--<a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->
        <!--/.item-->
        <div class="item" style="background-image: url(images/slider/bg4.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2>Unlocking the puzzle<span></span></h2>
                                <h3><span>NAFTA Human Resource Solutions</span></h3>
                                <!--<p>The Optimum Path to Success...</p>-->
                                <!--<a class="btn btn-primary btn-lg" href="#">Read More</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->

    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->